# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/tests
/dump
/x509

# Build system files
/Makefile
/obj
*.make
*.sublime-workspace

# Misc
.DS_Store
